<!DOCTYPE html>
<html lang="en">
<%- include('includes/head') %>
<body>
    <a href="/login" class="btn btn-secondary absolute-top-right">
      LOG IN
    </a>
    <div class="page-container">
    <div class="bg-gradient"></div>
    <div class="smoke-effect"></div>


    <div class="center-content">
      <div class="welcome-container">
        <div class="icon-container">
          
          <h1 class="title-main" style="margin-bottom: 15px;">WELCOME</h1>
          
        </div>
        <form class="form-container" action="/register" method="POST">
            <% if (typeof errors !== 'undefined' && errors && errors.length) { %>
              <% errors.forEach(error => { %>
                <p class="notice"><%= error %></p>
              <% }) %>
            <% } %>
            <h2 style="margin-bottom: 15px;">Create an account</h2>
          <div class="form-group">
            <label class="form-label" for="username">Username</label>
            <input type="text" id="username" name="username" class="form-input" autocomplete="off" required value="<%= typeof username !== 'undefined' ? username : '' %>">
            <% if (typeof fieldErrors !== 'undefined' && fieldErrors.username && fieldErrors.username.length) { %>
              <% fieldErrors.username.forEach(function(msg){ %>
                <p class="input-error"><%= msg %></p>
              <% }) %>
            <% } %>
          </div>

          <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input type="password" class="form-input" id="password" name="password" autocomplete="off" required>
            <% if (typeof fieldErrors !== 'undefined' && fieldErrors.password && fieldErrors.password.length) { %>
              <% fieldErrors.password.forEach(function(msg){ %>
                <p class="input-error"><%= msg %></p>
              <% }) %>
            <% } %>
            <br/>
          </div>

          <button class="btn-submit">SIGN UP</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('includes/footer') %>
</html>
